
        body{
            background-color: aliceblue;
        }
        
        #top > p{
            margin-top: -250px;
            color: #fcfcfc;
            text-align: center;
            font-size: 160px ;
        
        }
        table
        {
            width: 35%;
            align-content: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: -50px;
        }
        #tble > table
        {
            
            border: 1px solid black;
            border-radius: 3px;
            background-color: rgb(159, 242, 250);
            
        
        }
        .a
        {
            background-color: rgb(116, 211, 203);
        }
        table, tr, td
        {
            border: 1px solid black;
            align-content: center;
            
        }
        tr
        {
            width: 10px;
        }
        table td{
        text-align: center;
        }
        form{
            width: 25%;
            margin: auto;
            margin-inline: 2px;
            font-size: 20px;
        }
        .aa
        {
            padding: 2px;
            margin-bottom: 10px;
            width: 300px;
        }
        legend
        {
            text-align: center;
            border: 1px solid;
            width: 120px;
            border-radius: 4px;
            font-size: 23px;
        }
        #in
        {
        width: 90px;
        }
        p > a
        {
         color: black;
        }
        fieldset
        {
            border: 2px solid black;
        }